*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .container{
    max-width: 1980px;
    margin: 0 auto;
 }

 nav{
    padding: 1rem;
    background-color: aquamarine;
 }

 .nav-con{
    display: flex;
    justify-content: space-between;
 }


 .Logo img{
   height: 60px;
   width: auto;
 }

 .Logo a{
    font-size: 4rem;
    color: #1cca5f;
    text-decoration: none;
 }

 .Menu{
    display: flex;
    list-style: none;
    align-items: center; 
 }

 .Menu li{
    margin: 0 1rem;
 }

 .Menu li a{
    color: #e61111;
    text-decoration: none;
    font-size: 1.5rem;
 }

 .maincontent{
    background-color: rgb(245, 217, 180);
 }

 .maincontent-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .maincontent-info{
    width: 100%;
    padding: 2rem;
 }

 .maincontent-info h3{
    font-size: 2rem;
 }

 .maincontent-info p{
    margin: 1.5rem 0;
 }

 .maincontent-info .maincontent-btn{
    background-color: rgb(211, 255, 14);
    color: #000;
    padding: .5rem;
    border-radius: 25px;
    text-decoration: none;
 }

 .maincontent-img{
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 .maincontent-img img{
    width: 75%;
    height: auto;
    padding: 1rem;
    border-radius: 500px;
 }

 .content-con{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 1rem;   
 }

 .content-item img{
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 10px;
 }

 .content-item h4{
   margin: 1rem 0;
 }

 .content-item p{
   margin-top: .5rem 0;
   margin-bottom: 1rem;
 }

 .content-btn{
   display: inline-block;
   color: rgba(226, 36, 36, 0.788);
   background-color: #fbff00;
   border-radius: 25px;
   padding: .5rem;
   text-decoration: none;
 }

 .footer-top{
   margin-top: 2rem;
   padding: 2rem;
   background-color: rgba(106, 109, 96, 0.521);
 }

 .footer-top-con{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   color: #000;
   align-items: flex-start;
 }

 .footer-top-item-con{
   display: flex;
   margin: 1rem 0;
   width: 100%;
 }

 .footer-top-item-con .date{
   background-color: bisque;
   color: black;
   padding: .5rem ;
   border-radius: 1000000px;
   text-align: center;
   max-block-size: 42px;
   margin-right: 10px;
   display: flex;
   align-items: center;
   justify-content: center;

 }
 
 .footer-top-item h4{
   margin-bottom: 1rem;
 }

 .footer-button{
   background-color: #60d32a;
   padding: 1rem;
   text-align: center;
 }

 .footer-top-item p{
   display: flex;
   align-items: center;
   gap: 15px;
 }

 .footer-top-item p i{
   width: 20px;
   text-align: center;
   font-size: 1.2rem;
 }
